:host ion-item {
  --background: #20a5d1; /* fondo del item */
  --color: rgb(237, 27, 27);         /* color de texto del item */
}
:host ion-label h2 { font-weight: 600; }
:host ion-label p  { opacity: .9; }